<footer>
    <div class="left">
    <p>&copy;YumiYarn2025</p>
    <a href = '/about'><p> ABOUT</p></a>
    <a href='/contact'><p>CONTACT</p></a>
    </div>

    <div class="right">
    <a href="#"></a><i class="fa-brands fa-instagram"></i>
    <a href="#"></a><i class="fa-brands fa-facebook"></i>
    </div>


</footer>


</html>