<%- include('./partials/header.ejs') %>
    <main class="push">
    <article>
        <h2><strong>Store History</strong></h2>
        <br>
        <p>We are dedicated to bringing fiber artists together through engaging events, 
            workshops, and gatherings. Whether you're a beginner or an experienced crafter, 
            there's always something new to learn and share.
        </p>
        <br>
        <h2><strong>Background</strong></h2>
        <br>
        <p>Our platform allows you to stay connected by browsing, creating, and managing events 
            tailored to your interests. From crochet circles to yarn markets, there's an event 
            for everyone. At Yumi Yarn, we value respect, patience, and craftsmanship. We ask 
            all members to be mindful of these principles, especially when making purchases. Be 
            sure to check our return policy before buying any yarn or handmade pieces.
            Join us as we weave creativity into every stitch!
        </p>
    </article>
    </main>

    <%- include('./partials/footer.ejs') %>