<%- include('./partials/header.ejs') %>
    <main class="push">
    <article>
        <h2><strong>Owner</strong></h2>
        <br>
        <h4><strong>Sydney Lee</strong></h4>
        <br>
        <p> Hi, I founded Yuni Yarns in 2025 to create a more supportive 
            community for all interested in growing their skills. Having 
            been crocheting myself for 8 years now, our team prides ourselves 
            on help to educate about crochet and yarn work as much as possible!
        </p>
        <br>
        <p>Email: alee164@charlotte.edu</p>
        <br>
    </article>
    </main>
    <%- include('./partials/footer.ejs') %>
    