<%- include('./partials/header.ejs') %>
    
    <main class="push">
    <article>
        <h2><strong><%= error.status%></strong></h2>
        <br>
        <p><%= error.message%></p>
        
    </article>
    </main>

    <%- include('./partials/footer.ejs') %>
    