<%- include('./partials/header.ejs') %>
    
    <main class="push">
    <article>
        <h2><strong>Welcome</strong></h2>
        <br>
        <p>Here at Yumi Yarn, we love hosting events where yarn lovers from all around 
            can gather, share their creations, and exchange ideas with like-minded individuals. 
            On our site, you can view, add, and manage upcoming events with ease!
        </p>
        <br>
        <p>We encourage all our customers and team members to approach every interaction
             with kindness and understanding. However, please be mindful of our return 
             policy before making a purchase, especially when buying yarn or handmade crochet pieces.
        </p>
    </article>
    </main>

    <%- include('./partials/footer.ejs') %>
    